<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cardboard Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      #example {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      body{
        margin:0px;
        padding: 0px;
        overflow:hidden;
        background-color:black;
      }
      .wrapper {
        position:absolute;
        top:50%;
        left:50%;
      }
    </style>
  </head>
  <body>

  <div id="canvasloader-container" class="wrapper">
  </div>
  <div id="example"></div>

  <!-- Scripts -->
  <script src="js/socket.io.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/three.min.cardboard.js"></script>
  
  <script src="js/OBJLoader.js"></script>
  <script src="js/OrbitControls.cardboard.js"></script>
  <script src="js/StereoEffect.cardboard.js"></script>
  <script src="js/DeviceOrientationControls.cardboard.js"></script>

  <script src="js/xml.parser.js"></script>
  <script src="js/renderer.cardboard.js"></script>
  <script src="js/stats.js"></script>
  <script src="js/streaming.js"></script>
  <script src="js/heartcode-canvasloader-min.js"></script>

  <script>

    // Loader Animation
    var canvas_loader = new CanvasLoader('canvasloader-container');
    canvas_loader.setColor('#ffffff');
    canvas_loader.setShape('spiral');
    canvas_loader.setDiameter(116);
    canvas_loader.setDensity(11);
    canvas_loader.setRange(0.6); 
    canvas_loader.setSpeed(1);
    canvas_loader.show();

    // This bit is only for positioning - not necessary
    var loaderObj = document.getElementById("canvasLoader");
    loaderObj.style.position = "absolute";
    loaderObj.style["top"] = canvas_loader.getDiameter() * -0.5 + "px";
    loaderObj.style["left"] = canvas_loader.getDiameter() * -0.5 + "px";

    var clock = new THREE.Clock();

    // ###########################################################
    // Modules Initialization
    // ###########################################################
    XMLParser.init('conf/serverConf.xml');
    ThreeHelper.initThree();
    Streaming.init(XMLParser.getStreamingServerFullURL());

    // ###########################################################
    // Run
    // ###########################################################
    XMLParser.loadPixelsFromXML(function(pixels){
      ThreeHelper.animate();
      ThreeHelper.render();
      Streaming.receive();
      Streaming.play(pixels);
    });

  </script>
  </body>
</html>
