<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Sendero: A lightning system for artistic production</title>
	    <!-- Styles -->
	    <link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
	<body>
		<div id="sendero-index" class="background-image">
			<p class="sendero-index-title">Sendero</p>
			<p class="sendero-index-subtitle">A lightning system for artistic production</p>
			<div class="sendero-index-icons">
				<a href="http://web.sendero.uy" id="web-logo"></a>
				<a href="http://vr.sendero.uy" id="cardboard-logo"></a>
			</div>
		</div>
	</body>
</html>