<!DOCTYPE html>
<html>

  <head>
    <title>Sendero Web/Mobile</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <style type="text/css">
      body{
        margin: 0px;
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <div id="container"></div>
  </body>

  <!-- Scripts -->
  <script src="js/socket.io.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/three.min.web.js"></script>
  <script src="js/OBJLoader.js"></script>
  <script src="js/OrbitControls.web.js"></script>
  <script src="js/three.helper.js"></script>
  <script src="js/xml.parser.js"></script>

  <script>
    
    XMLParser.init('conf/serverConf.xml');
    ThreeHelper.initThree(XMLParser.getInteractionServerFullURL());

    var server = io.connect(XMLParser.getStreamingServerFullURL());

    XMLParser.loadPixelsFromXML(function(pixels){

      ThreeHelper.animate();
      ThreeHelper.render();

      //server.on('frame', function(what){
        // var bufView = new Uint8Array(what);
        
        // for (var i = 0; i < 3*XMLParser.getPixelsQty(); i =  i + 3) {
        //   var R = bufView[i];
        //   var G = bufView[i+1];
        //   var B = bufView[i+2]; 

        //   changePixelColor(pixels[i/3], R, G, B);
        // }

        ThreeHelper.render();
      //});
      
    });
  </script>

</html>