<!DOCTYPE html>
<html>

  <head>
    <title>Sendero Web/Mobile</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <style type="text/css">
      body{
        margin: 0px;
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <div id="container"></div>
  </body>

  <!-- Scripts -->
  <script src="js/socket.io.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/three.min.web.js"></script>
  <script src="js/OBJLoader.js"></script>
  <script src="js/OrbitControls.web.js"></script>
  <script src="js/three.helper.js"></script>
  <script src="js/xml.parser.js"></script>
  <script src="js/streaming.js"></script>

  <script>
    
    // Modules Initialization
    XMLParser.init('conf/serverConf.xml');
    ThreeHelper.initThree(XMLParser.getInteractionServerFullURL());
    Streaming.init(XMLParser.getStreamingServerFullURL());

    XMLParser.loadPixelsFromXML(function(pixels){
      ThreeHelper.animate();
      ThreeHelper.render();
      Streaming.receive();
      Streaming.play(pixels);
    });
  </script>

</html>